In [ ]:
import pandas as pd

In [ ]:
csv_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [ ]:
iris = pd.read_csv(csv_url, header = None)

In [ ]:
# Iris doesnt have column names so give it
col_names = ['Sepal_Length','Sepal_width','Petal_Length','Petal_Width','Species']

In [ ]:
iris = pd.read_csv(csv_url, names = col_names)

In [ ]:
df1=df=iris

In [ ]:
iris.head(15)

    Sepal_Length  Sepal_width  Petal_Length  Petal_Width      Species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa

In [ ]:
iris.tail(6)

     Sepal_Length  Sepal_width  Petal_Length  Petal_Width         Species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [ ]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
iris.columns

Index(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [ ]:
iris.describe()

       Sepal_Length  Sepal_width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
iris.columns.values

array(['Sepal_Length', 'Sepal_width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [ ]:
iris.iloc[8]

Sepal_Length            4.4
Sepal_width             2.9
Petal_Length            1.4
Petal_Width             0.2
Species         Iris-setosa
Name: 8, dtype: object

In [ ]:
iris[47:51]

    Sepal_Length  Sepal_width  Petal_Length  Petal_Width          Species
47           4.6          3.2           1.4          0.2      Iris-setosa
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor

In [ ]:
iris.loc[:,["Sepal_Length","Sepal_Width"]]

KeyError: ignored

In [ ]:
cols_2_4=iris.columns[2:4]
iris[cols_2_4]

     Petal_Length  Petal_Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [ ]:
iris.isnull().any()

Sepal_Length    False
Sepal_width     False
Petal_Length    False
Petal_Width     False
Species         False
dtype: bool

In [ ]:
iris.isnull().sum()

Sepal_Length    0
Sepal_width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [ ]:
iris.dtypes

Sepal_Length    float64
Sepal_width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [ ]:
df=iris